DATABASE_URL=postgresql://username:password@localhost/database_name
SECRET_KEY=replace_with_a_long_random_secret_key
ALGORITHM=HS256
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DECODE_RESPONSES=true
TEST_BOOKING_URL=http://127.0.0.1:8000/booking/
TEST_AUTH_TOKEN=
